<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="https://therapyaroha.com/public/css/poole.css">
  <link rel="stylesheet" href="https://therapyaroha.com/public/css/syntax.css">
  <link rel="stylesheet" href="https://therapyaroha.com/public/css/lanyon.css">
  <link rel="stylesheet" href="https://therapyaroha.com/public/css/site.css">
  <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="https://therapyaroha.com/atom.xml">
  <link rel="shortcut icon" href="https://therapyaroha.com/public/favicon.ico">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CP3N8GHP6C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CP3N8GHP6C');
  </script>
</head>